Redirect /gallery http://www.dylankite.com/gallery.html
Redirect /bio http://www.dylankite.com/bio.html
Redirect /comm http://www.dylankite.com/comm.html
Redirect /dev http://www.dylankite.com/dev.html
Redirect /graphic http://www.dylankite.com/graphic.html
Redirect /mockups http://www.dylankite.com/mockups.html
Redirect /zine http://www.dylankite.com/zine.pdf